body {
    font-family: georgia;
    font-size: 15pt;
    counter-reset: definition;
}

h3::after {
  content: "(Work in Progress)"; 
  margin-left: 1em ;
  color: red ;
  font-weight: bold;
  font-family: arial;
  opacity: 0.3
}

blockquote {
    font-family: verdana;
    font-style: italic;
    border-left: 6px solid blue;
    margin: 1.33ex 1em;
    padding-left: 1em;
    color: darkblue
}

blockquote p::before {
    counter-increment: definition;
    content: "Definition " counter(definition) ": ";
    color: black ;
    font-style: normal;
}
